
{%extends 'base.html'%}
{%load bootstrap3 %}
{%block content%}
<div class="row container" style="padding-bottom:20px ; background-color: rgb(47, 122, 243)">

			<div class="col-md-7">
				<h2>Add your neighbour hood</h2>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="text-center">Create Hood</h3>
					</div>
					<div class="panel-body">
						<form action="{% url 'createHood' %}" method="post">

							{%csrf_token%}
							{% bootstrap_form form %}
							<button type="submit" class="btn btn-success btn-sm btn-block">Create Hood</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>

	</div>

{%endblock%}