
<!-- 
<nav class="navbar navbar-expand navbar-dark bg-dark" id="navMain">
    <a class="" href="/"><i class="fa fa-home"style="font-size:30px;color:green"></i></a>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% if user.is_authenticated %}
            
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li> <a class="dropdown-item"  href="{% url 'profile' %}" type="button">View profile</a>
                      </li>
                      <li><a class="dropdown-item" href="{% url 'hood' %}" type="button">View Estates</a>
                      </li>
                      <li><a class="dropdown-item" href="{% url 'hoods' %}" type="button">My Neighbourhood</a>
                      </li>
                    </ul>
                  </div>

            {%endif%}
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="row">
                    <ul class="navbar-nav " style="list-style: none">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link open-nav" href="{% url 'profile' %}"><i class="fa fa-user" style="font-size:30px;color:green"><small>{{ user }}</small></i></a>
                                </li>
                                </ul>
                            {%endif%}
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-md-12 nav-search">
                                <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
                                    <input class="form-control my-2 my-sm-0 search-input" name="hoods" type="search" placeholder="Search Estates" aria-label="Search">
                                </form>
                            </div>
                        </div>
                        </div>
                    {%endif%}
                <ul  class="navbar-nav ml-auto" style="list-style: none">
                    <li>
                        <i class="fa fa-sign-out"  style="font-size:30px;color:red" aria-hidden="true"></i><a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:rgb(129, 195, 221); color: white;">
    
    

        {% if request.user.profile_pic %}
        <section> <img
                style="border-radius: 50% ; padding: 0.15rem;   background: linear-gradient(to right bottom, #2cd8a4, #2ec97b);"
                class=" img-circle" src="{{request.user.profile.profile_pic.url}}" alt="" width="50px" height="50px"">  </section> <br>
                    {% else %}
                         
                    {% endif %}
    
                    <div class=" dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton btn-2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <h6><a href="#" style="color: white;">{{ user.username}}</a></h6>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            </div>
            
        
            
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"> <img style="border-radius: 50% ; padding: 0.15rem; " class=" img-circle"
                                src="{{request.user.profile.profile_pic.url}}" alt="" width="30px" height="30px"> </a></li>
    
                </ul>
    
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'hoods' %}" type="button">Neighbourhood</a></li>

    
                    {% if user.is_authenticated %}
    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                               
                            <li>
                                <a href="/accounts/password/change">Change Password</a>
                            </li>
    
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/accounts/login">Login</a>
                            </li>
    
                    {% endif %}
    
    
                        </ul>
                    </li>
                </ul>

            </div>
            
            </div>
            
    </nav>